//A PROPOS KENZA

@use "./mixins/mixins";
@use "./variables";

.surligne {
  background-color: variables.$lavandreCendre;
  font-weight: variables.$weightSemi;
  color: variables.$bleuSarcelle;
}

.bold__font {
  font-family: "JustMe";
  font-size: 55px;
  color: variables.$blancSel;
  line-height: 10px;
}

.about {
  margin-bottom: 100px;
  margin-top: 100px;

  &__titre {
    text-align: center;
    margin-top: 200px;
    font-size: 64px;
    margin-bottom: 69px;
    color: variables.$bleuNuit;
    font-weight: variables.$weightMedium;
  }

  &__hero {
    margin-bottom: 52px;
    width: 100%;
    height: 80vh;
    background-image: url("medias/img/hero_a_propos.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &--topLayer {
      width: 100%;
      height: 100%;
      z-index: 30;
      background-image: linear-gradient(rgb(0, 0, 0, 0) 20%, variables.$bleuNuit 150%);
    }
  }
}

.section__about {
  position: relative;
  width: 100%;
}

.about__linktree--link {
  width: 95%;
  max-width: 1400px;
  margin: auto;
  font-size: 1.5em;
  font-weight: variables.$weightMedium;

  a {

    color: variables.$noirPoudre;
    transition: 0.5s;

    &:hover {
      color: variables.$bleuSarcelle;
    }
  }
}

.intro {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;

  &__alignement {
    width: 95%;
    margin-bottom: 100px;
    border: 2px solid variables.$lavandreCendre;
    border-radius: 30px;
    padding: 30px;
    display: grid;
    height: 100%;
    row-gap: 2em;
    box-shadow: 0 0 30px 3px variables.$lavandreCendre;
    background-color: variables.$blancSel;

    &--img {
      img {
        width: 100%;
        height: 110%;
        object-fit: cover;
      }

      width: 100%;
      overflow: hidden;
      border-radius: 30px;
      grid-row: 2 / 3;
    }

    &--titre {
      color: variables.$noirPoudre;
      font-weight: variables.$weightSemi;
      text-align: center;
    }

    &--text {
      line-height: 30px;
      text-align: left;
      font-size: 18px;
    }
  }
}

/*---Mission---*/
.mission__alignement--titre {
  font-weight: variables.$weightSemi;
  margin-bottom: 0px;
}

.mission {
  width: 90%;
  max-width: 1400px;
  margin: auto;
  margin-bottom: 150px;
  margin-top: 100px;

  .mission__grid {
    display: grid;
    margin-top: 30px;
    font-size: 18px;

    hr {
      border-top: 2px solid variables.$bleuSarcelle;
    }

    .card {
      row-gap: 20px;
      margin-top: 50px;
      margin-bottom: 50px;
      display: grid;

      &__column {
        vertical-align: middle;

        h3 {
          margin-right: 20px;
          display: inline;
          color: variables.$bleuSarcelle;
        }

        svg {
          height: 37px;
        }

        .svg__arrow {
          height: 20px;
          transform: rotate(-15deg);
        }
      }

      p.card__text {
        padding-top: 5px;
      }
    }
  }
}

/*---groupes---*/

.groupes {
  width: 100%;
  background-color: variables.$noirPoudre;
  padding-top: 50px;
  padding-bottom: 100px;
  color: variables.$lavandrepetant;

  &__alignement {
    width: 90%;
    height: 100%;
    max-width: 1400px;
    margin: auto;
    margin-top: 50px;
    font-size: 1.5em;




    .groupes__grid {

      display: grid;

      h2 {
        font-weight: variables.$weightSemi;
        margin-bottom: 50px;
        color: variables.$blancSel;
        text-align: center;
      }

      .groupes__text {
        margin-top: 50px;
        line-height: 40px;
        text-align: center;
        font-size: 24px;
      }

    }

  }

}


@media screen and (min-width: 768px) {
  .mission {
    .mission__grid {
      .card {
        display: grid;
        grid-template-columns: 300px 1fr;

        &__column {
          svg {
            height: 47px;
          }

          .svg__arrow {
            height: 30px;
          }
        }
      }
    }
  }

  .groupes {

    &__alignement {

      .groupes__grid {
        grid-template-columns: repeat(repeat(auto-fit, 150px));
        column-gap: 2em;

        h2 {
          grid-row: 1;
          grid-column: 1 / 4;
        }

        .groupes__text {
          font-size: 30px;
          grid-row: 2;
        }

      }

    }

  }

}

@media screen and (min-width: 1080px) {
  .intro {

    &__alignement {
      grid-template-columns: 1fr 1fr;
      column-gap: 3em;

      &--img {
        height: 99%;
        grid-row: 1 / 3;

      }

      &--titre {
        text-align: left;
        grid-row: 1 /2;
        grid-column: 2 / 3;
      }

      &--text {
        font-size: 18px;
        grid-row: 2 / 3;
      }
    }

  }

  .bold__font {
    font-size: 90px;
  }

  .groupes {

    &__alignement {

      .groupes__grid {
        grid-template-columns: repeat(auto-fill, minmax(300px, auto));
        column-gap: 2em;

        h2 {
          grid-row: 1;
          grid-column: 1 / 4;
        }

        .groupes__text {
          font-size: 30px;
          grid-row: 2;
        }

      }

    }

  }


}

/*---------------KENZA: media queries desktop---------------*/
@media screen and (min-width: 1400px) {
  .intro {
    &__alignement {
      width: 100%;

      &--img {
        height: 100%;
        grid-row: 1 / 3;
      }

      &--titre {
        grid-row: 1 /2;
        grid-column: 2 / 3;
      }

      &--text {
        font-size: 20px;
        grid-row: 2 / 3;
      }
    }
  }

  .mission {
    .mission__grid {
      font-size: 20px;

      .card {
        display: grid;
        grid-template-columns: 300px 1fr;
      }
    }
  }

  .groupes {

    &__alignement {

      .groupes__grid {
        grid-template-columns: repeat(auto-fill, minmax(400px, auto));
        column-gap: 2em;

        h2 {
          grid-row: 1;
          grid-column: 1 / 4;
        }

        .groupes__text {
          font-size: 30px;
          grid-row: 2;
        }

      }

    }

  }

}