/* Victor */
@use './variables';
@use './mixins/mixins';

/*--Ajout code message Projet étudant--*/

.msgEtudantBG {
    background-color: variables.$noirPoudre;
    box-shadow: 0 1px 5px variables.$noirPoudre;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
}

.messageProjetEtudant {
    padding: 2vw 0;
    margin: 0;
    height: auto;
    background-color: variables.$noirPoudre;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 40px auto 80px;

    &__msg {
        padding: 0 5vw;
        text-align: center;
        align-self: center;
        color: variables.$blancSel;
        grid-row: 2;
    }

    &__btn {
        grid-row: 3;
        @include mixins.btnBlanc;
        margin: 0 2vw;
        padding: 5px 10px;
        width: 100px;
        align-self: center;
        justify-self: center;

        a {
            text-decoration: none;
            color: variables.$noirPoudre;
        }

        svg {
            margin-left: 5px;
            align-self: center;
            width: 2vh;

            path {
                fill: variables.$noirPoudre;
            }
        }

        &:hover {
            background-color: variables.$noirPoudre;
            color: variables.$blancSel;

            a {
                color: variables.$blancSel;
            }

            svg {
                path {
                    fill: variables.$blancSel;
                }
            }
        }
    }

    &__closeBtn {
        margin-right: 25px;
        justify-self: end;
        grid-row: 1;

        svg {
            width: 24px;
            aspect-ratio: 1/1;

            path {
                transition-duration: 0.2s;
                transition-timing-function: linear;
            }

            &:hover {
                path {
                    stroke: variables.$lavandrepetant;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .msgEtudantBG {
        min-height: 120px;
        max-height: 160px;
    }

    .messageProjetEtudant {
        max-width: 95vw;
        margin: 0 auto;
        grid-template-columns: 50% auto 5%;
        grid-template-rows: none;

        &__msg {
            padding: 0;
            text-align: left;
            grid-row: none;
        }

        &__btn {
            grid-row: none;
            justify-self: end;
        }

        &__closeBtn {
            grid-row: none;
        }
    }
}

@media screen and (min-width: 1400px) {
    .msgEtudantBG {
        max-height: 200px;
    }

    .messageProjetEtudant {
        max-width: 1400px;
        max-height: 120px;
        margin: 0 auto;
        grid-template-columns: 1000px auto auto;
        grid-template-rows: auto;

        &__msg {
            grid-row: 1;
            padding: 0;
            text-align: left;
        }

        &__btn {
            grid-row: 1;
            justify-self: end;
        }

        &__closeBtn {
            grid-row: 1;
            margin: 0;
        }
    }
}

.displayNone {
    display: none;
}


/*--Fin Ajout code message Projet étudant--*/