/* Victor */
/* Animation code original trouvé en ligne modifié: https://codepen.io/carolineartz/pen/rNaGQYo */
@use './variables';
@use './mixins/mixins';

.pageErrorContainer {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 20vh 0;
}

@mixin animationApply {
  animation-name: pointerAnimation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-direction: alternate;
}

#move {
  z-index: 4000;
  background-color: rgba(0, 0, 0, 0);
  background-position: center;
  background-size: 120%;
  height: 2vw;
  aspect-ratio: 1/1;
  border-radius: 50%;
  will-change: transform;
  user-select: none;
  pointer-events: none;
  transform: translate(-50%, -20%);
  position: absolute;
}

.underMove {
  will-change: transform;
  position: absolute;
  border-radius: 50%;
  
  $cirles: (
    variables.$lavandreCendre: 70vmin,
      variables.$lavandrepetant: 75vmin,
        variables.$bleuSarcelle: 80vmin,
          variables.$bleuNuit: 85vmin
          );



        @each $inColor, $size in $cirles {
          .cirle-#{index($cirles, ($inColor $size))} {
            @include animationApply;
            position: absolute;
            border-radius: 50%;
            background-color: $inColor;
            width: $size;
            height: $size;
            margin: calc(-1 * $size/2) 0 0 calc(-1 * $size/2);
          }
        }
      }

      .errorPage {
        z-index: 100;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        mix-blend-mode: screen;
        background: variables.$bleuSarcelle;
        width: 100%;
        height: 100%;

        div.textPageErreur {
          line-height: 55vmin;
          font-weight: 900;
          margin: 0;
          font-size: 55vmin;
          color: variables.$noirPoudre;
        }

        .text {
          text-align: center;
          color: #fff;
          margin: 2vh 0;
          font-size: 24px;
        }

        button {
          @include mixins.btnBlanc;
          font-size: 24px;
        }
      }

      @keyframes pointerAnimation {
        0% {
          border: 20px solid variables.$bleuNuit;
          box-shadow: 0 0 10vw variables.$bleuNuit;
          tansform: size(1);
        }

        90% {
          border: 0 solid variables.$bleuNuit;
          tansform: size(0.8);
        }

        100% {
          border: 0 solid variables.$bleuNuit;
          tansform: size(0.8);
        }
      }

      @media screen and (max-width: 768px) {
        .underMove {

          $cirlesTwo: (
            variables.$lavandreCendre: 55vw,
              variables.$lavandrepetant: 60vw,
                variables.$bleuSarcelle: 65vw,
                  variables.$bleuNuit: 70vw
                  );

                @each $color, $size in $cirlesTwo {
                  .cirle-#{index($cirlesTwo, ($color $size))} {
                    @include animationApply;
                    position: absolute;
                    border-radius: 50%;
                    background-color: $color;
                    width: $size;
                    height: $size;
                    margin: calc(-1 * $size/2) 0 0 calc(-1 * $size/2);
                  }
                }
              }

              .errorPage {

                div.textPageErreur {
                  line-height: 55vw;
                  font-size: 55vw;
                }

                .text {
                  font-size: 24px;
                }

                button {
                  font-size: 24px;
                  border-radius: 50px;
                }
              }
            }