/* Joshua */
@use './variables';

.recherchebar {
    width: 100%;
    background-color: variables.$lavandreCendre;
    padding: 50px;

    &__text {
        text-align: center;
        font-size: 1.5em;
    }

    &__content {
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: 1fr;
        width: 100%;
        gap: 15px;
    }
}

.search {
    --padding: 0.2vw;
    justify-self: end;
    width: 100%;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 28px;
    background-color: white;
}

.search-input {
    font-size: 3.5vw;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;
    width: 100%;
}

.search span {
    margin-left: 10px;
}

@media screen and (min-width: 768px) {
    .recherchebar__content {
        grid-template-columns: 1fr 2fr;
        gap: 0;
        max-width: 1200px;
        margin: 0 auto;
    }

    .search {
        width: 45vw;
        justify-self: end;
        max-width: 700px;
    }

    .search-input {
        font-size: 16px;
        width: 45vw;
        max-width: 700px;
    }
}

@media screen and (min-width: 1400px) {
    .recherchebar__content {
        width: 1400px;
        margin: 0 auto;
    }

    .search {
        width: 45vw;
        justify-self: end;
        max-width: 700px;
    }

    .search-input {
        font-size: 16px;
        width: 45vw;
        max-width: 700px;
    }
}