$blancSel: #ffffff;
$lavandreCendre: #E1E5F2;
$lavandrepetant: #D7E0FF;
$bleuSarcelle: #1F7A8C;
$bleuSarcelleSurligne: #1f7a8c9e;
$bleuNuit: #022B3A;
$noirPoudre: #2A2A2A;
/*----------KENZA: Variables de font-size telephone------------------------*/

$textSizeMobile: 20px;
$linkSizeMobile: 16px;

/*----------KENZA: Variables de font-size desktop------------------------*/
$textSize: 36px;
$linkSize: 24px;

$weightLight: 300;
$weightMedium: 500;
$weightSemi: 600;