@use '../variables';

/*KENZA: Note à parler avant remise: Mettre un padding dans les boutons +s'assurer que le font-weight soit le même en tout temps*/

@mixin btnMenuHover {
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: linear;

    &:hover {
        background-color: variables.$lavandreCendre;
        background-size: 120% 25%;
    }
}